# Ignore everything except directories
*
!*/

################################### ALLOW LIST ##################################

# Config
!package-managers/asdf/**/*
!shells/bash/**/*
!programming/efm-langserver/*
!tools/env/.env.example
!shells/fish/*
!tools/vcs/git/**/*
!gui/hammerspoon/**/*
!tools/keys/karabiner/karabiner.json
!terminals/kitty/**/*
!tools/mackup/**/*
!tools/nix/**/*
!tools/ranger/**/*
!editors/nvim/**/*
!editors/vim/**/*
!tools/rclone/filter_list.txt
!languages/snippets/**/*
!tools/ssh/config
!shells/starship/**/*
!terminals/tmux/**/*
!editors/vim/**/*
!tools/ui/vivid/**/*
!shells/zsh/**/*

# Dotbot
!meta/**/*
!install-standalone
!install-profile
!uninstall
!config.yml

# GitHub
!.github/**/*
!.gitignore
!.gitignore_global
!.gitmodules

# Other dirs
!bin/**/*
!commands/**/*
!misc/packages/**/*
!tasks/**/*
!tests/**/*
!os/macos/LaunchAgents/**/*

# Other files
!.tool-versions
!.config/.color_mode
!Rakefile
!README.md
!stylua.toml
!.markdownlint.json

################################### DENY LIST ####################################

# Config
.config/nvim/plugin
.config/fish/fish_variables
.config/tmux/plugins
.config/tmux/resurrect
misc/enhance-rails-intellisense-in-solargraph
.DS_Store
backup
.repro
tools/vcs/git/config.local
