[submodule "meta/dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "meta/dotbot-brew"]
	path = vendor/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
	ignore = dirty
[submodule "meta/dotbot-asdf"]
	path = vendor/dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
	ignore = dirty
