{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -euo pipefail

{{ $personalApps := list
    "/Applications/Google Chrome.app"
    "/Applications/Fantastical.app"
    "/Applications/Ghostty.app"
    "/Applications/Cursor.app"
    "/Applications/Obsidian.app"
    "/System/Applications/Music.app"
}}

{{ $workApps := list
    "/Applications/Google Chrome.app"
    "/System/Applications/Calendar.app"
    "/Applications/Ghostty.app"
    "/Applications/Obsidian.app"
    "/Applications/Slack.app"
    "/Applications/zoom.us.app"
}}

{{ $apps := $personalApps }}
{{ if .work_profile }}{{ $apps = $workApps }}{{ end }}

defaults delete com.apple.dock persistent-apps

{{ range ($apps | uniq) -}}
defaults write com.apple.dock persistent-apps -array-add "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>{{ . }}</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"
{{ end -}}

defaults delete com.apple.dock persistent-others

killall Dock >/dev/null 2>&1 || true && echo "~ macos dock has been configured"

{{ end -}}