{{- define "file" }}
type = "file"
executable = false
stripComponents = 1
refreshPeriod = "672h"
{{- end }}

[".config/fish/completions/chezmoi.fish"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/twpayne/chezmoi/13df4de56d7558d59a316409c9e223bdb1baf47c/completions/chezmoi.fish"

[".config/fish/completions/watchexec.fish"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/watchexec/watchexec/db427ba30ae33b7febda027c79b2d60b5525d5db/completions/fish"

[".config/fish/themes/tokyonight_day.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_day.theme"

[".config/fish/themes/tokyonight_moon.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_moon.theme"

[".config/fish/themes/tokyonight_night.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_night.theme"

[".config/fish/themes/tokyonight_storm.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_storm.theme"
