{{- define "file" }}
type = "file"
executable = false
stripComponents = 1
refreshPeriod = "672h"
{{- end }}

[".config/fish/completions/chezmoi.fish"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/twpayne/chezmoi/57eb0f7e557227c2980d92e12ca5c83926c0f0e9/completions/chezmoi.fish"

[".config/fish/completions/watchexec.fish"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/watchexec/watchexec/df5199c97f1ff9625d518bce0b00d158c1cb59e9/completions/fish"

[".config/fish/themes/tokyonight_day.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_day.theme"

[".config/fish/themes/tokyonight_moon.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_moon.theme"

[".config/fish/themes/tokyonight_night.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_night.theme"

[".config/fish/themes/tokyonight_storm.theme"]
{{ template "file" }}
url = "https://raw.githubusercontent.com/folke/tokyonight.nvim/cdc07ac78467a233fd62c493de29a17e0cf2b2b6/extras/fish_themes/tokyonight_storm.theme"
