# Catppuccin Ghostty themes - custom palette variants
[".config/ghostty/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/ghostty/archive/b0b03ccee7ae8f16b13bd4fdfe267616defdb2b7.tar.gz"
    stripComponents = 2
    include = ["*/themes/**"]
    refreshPeriod = "168h"
