:root {
  --mono-hue: 133;
  --mono-saturation: 60%;
  --base-font-size: 16px;
  --theme-hue: 329;
  --theme-saturation: 92%;
  --theme-lightness: 80%;
}
.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

footer {
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

footer > hr {
  margin-bottom: 4px;
}

.loader {
  border: 10px solid #DFC0FF;
  border-radius: 50%;
  border-top: 10px solid #F366DC;
  width: 2px;
  height: 2px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}

.screenshot {
  padding: 10px;
}
